body {
    background: lightgray;
    margin: auto;
}
.container {
    background: #fff;
    color: black;
    border: solid black;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
}
ul li{
    border: solid black 1px;
    list-style: none;
    margin: auto;
    padding: 5px;
}
ul {
    padding-right: 25px;
    margin-bottom: 0px;
}
footer {
    padding-left: 32px;
}
input {
    border: none;
    width: 100%;
}